
body {
	padding: 20px;
}
/*
h1 {
	border-bottom: 1px solid #000000
}*/

/*trying to turn it to all caps*/
/*h3 {
	text-transform: capitalize;
}*/

h1, h2 {
	text-align: center;
}







/*Footer CSS, will need to add divs later*/
img {
	height: 25px;
	width: 25px;
}

div {
	height: 50px;
	width: 150px;
	border: 1px solid blue;
	margin: auto;
	text-align: center;
}



